body {
  margin: 10px;
}
.divContainer {
  background-color: brown;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 20px; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  justify-content: flex-end;
  align-items: flex-end;
  /* position: relative; */
}
h1 {
  position: sticky;
  top: 0;
  background-color: beige;
}
.box {
  background-color: bisque;
  width: 130px;
  height: 130px;
  position: sticky;
  left: 0;
  top: 0px;
  /* bottom: 0; */
}
